
<nav class="navbar">
  <div class="logo">Student Management</div>
  <ul class="nav-links">
    <li><a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Login</a></li>
    <li><a routerLink="/students" routerLinkActive="active">Students</a></li>
      <li><a routerLink="/student-details" routerLinkActive="active"></a></li>
       <li><a routerLink="/signal" routerLinkActive="active">Signal</a></li>
       <li><a routerLink="/dynamic" routerLinkActive="active">Dynamic</a></li>
      <li><a routerLink="/changecheck" routerLinkActive="active">changeDetectionstudy</a></li>
  </ul>
  <button class="logout-btn" (click)="logout()">Logout</button>
</nav>

